#contenido {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0em;
}

div.progressbar {
    margin-left: auto;
    margin-right: auto;
}

.mdl-button {
    margin-top: 1em;
}

.post-content {
    width: 100%;
}
